/__pycache__
fixAliases.py
editorProperties.txt
editorRequirements.txt
temp.txt
reqs.txt
t7_HEIHACHI.json
.gitignore
t7_JIN_org.json
t7_JIN.json
t7_JIN_500.json
copy_aliases.txt
*.json
req.py
temp.py
temp2.py
old_script.py
reaction.py